<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yueban.motionlayoutdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".sample.SampleYoutubeActivity" />
        <activity android:name=".sample.SampleFragment2Activity" />
        <activity android:name=".sample.SampleFragment1Activity" />
        <activity android:name=".sample.SampleMainActivity" />

        <activity android:name=".medium.MediumPart4EasingActivity" />
        <activity android:name=".medium.MediumPart4ArcMotionActivity" />
        <activity android:name=".medium.MediumPart4PositionKeyFramesActivity" />
        <activity android:name=".medium.MediumPart3ViewPagerActivity" />
        <activity android:name=".medium.MediumPart3DrawerLayoutActivity" />
        <activity android:name=".medium.MediumPart3CoordinatorLayoutActivity" />
        <activity android:name=".medium.MediumPart2Ex5Activity" />
        <activity android:name=".medium.MediumPart2Ex4Activity" />
        <activity android:name=".medium.MediumMainActivity" />

        <activity android:name=".codelab.CodeLabMainActivity" />
        <activity android:name=".codelab.CodeLab8Activity" />
        <activity android:name=".codelab.CodeLab7Activity" />
        <activity android:name=".codelab.CodeLab6Activity" />
        <activity android:name=".codelab.CodeLab5Activity" />
        <activity android:name=".codelab.CodeLab4Activity" />
        <activity android:name=".codelab.CodeLab3Activity" />
        <activity android:name=".codelab.CodeLab2Activity" />
        <activity android:name=".codelab.CodeLab1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>